@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900')

body
    background-color: #212121
    color: #fff
    font-family: 'Roboto', sans-serif
    min-height: 100vh

h1, h2, h3, h4, h5, h6
    margin: 0 !important

.container
    width: 90% !important


.error-message
    position: absolute
    bottom: -20px
    right: 12px
    color: #e57373
    font-size: 12px