@import "~common/styles/common/_variables";


.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none !important;

  .route-name {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.1px;
    color: $superDarkGray;
    margin-top: 9px;
  }
}