main
  .sv-container
    &.mainPage
      max-width: 1044px
      margin: 0 auto 0 auto
      padding-top: 257px
      padding-bottom: 59px

  .sv-cardsHolder
    display: flex
    flex-wrap: wrap
    padding: 0 24px
    .sv-card
      position: relative
      border-radius: 5px
      background-color: #ffffff
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.2)
      @include bGrid(3, 2.587%)
      transition: all 0.3s cubic-bezier(.25,.8,.25,1)
      height: 485px
      cursor: pointer
      &.sv-findCard
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2)
        transform: translateY(-10px)
      &.hidden
        opacity: .4
        pointer-events: none
      .sv-cardImage
        max-height: 236px
        height: 100%
        position: relative
        img
          display: block
          border-radius: 5px 5px 0 0
          position: relative
          left: 0
          right: 0
          top: 0
          bottom: 0
          width: 100%
          height: 100%
          object-fit: cover
      .sv-cardContent
        padding: 13px 24px 11px 24px
        color: #1f1f1f
        .sv-cardTitle
          margin-bottom: 5px
          & > *
            font-size: 23px
            font-weight: 600
            overflow: hidden
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
        .sv-cardInfo
          display: flex
          justify-content: space-between
          margin-bottom: 11px
          & > *
            font-size: 14px
            line-height: 1.36
          span
            display: inline-block
          .sv-cardInfoCuisine
            font-weight: normal
          .sv-cardInfoCaloricity
            font-weight: 300
        .sv-cardDescription
          & > *
            font-size: 21px
            font-weight: 300
            line-height: 1.43
            overflow: hidden
            display: -webkit-box
            -webkit-line-clamp: 3
            -webkit-box-orient: vertical
            max-height: 93px




      .sv-cardAction
        display: flex
        position: absolute
        left: 0
        right: 0
        bottom: 0
        padding: 0 24px 16px 24px
        a
          display: inline-block
          text-decoration: none
          color: #fd9727
          font-size: 21px
          font-weight: normal
          span
            display: inline-block
            margin-right: 9px



.modal-enter-active
  animation: showModal .3s ease
.modal-leave-active
  animation: hideModal .3s ease


@keyframes hideModal
  from
    transform: scale(1)
    opacity: 1
  to
    transform: scale(.7)
    opacity: 0

@keyframes showModal
  from
    transform: scale(.7)
    opacity: 0
  to
    transform: scale(1)
    opacity: 1

.sv-filterWrapper
  position: absolute
  right: 24px
  transition: opacity .3s ease, transform .3s ease
  &.filterDialogActive .sv-filterDialog
    z-index: 105

  .sv-filterButton
    width: 72px
    height: 72px
    display: flex
    justify-content: center
    align-items: center
    outline: none
    border: none
    background-color: #fd9727
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2)
    border-radius: 50%
    cursor: pointer
    z-index: 100
    svg
      pointer-events: none
  .sv-filterDialog
    position: absolute
    z-index: 100
    top: 87px
    right: 0
    width: 490px
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2)
    background-color: #fff
    &.closeFilterCtrl
      .sv-closeFilter
        transform: rotate(0)!important
    & > *
      box-sizing: border-box
    .sv-filterCtrls
      min-height: 62px
      display: flex
      align-items: center
      justify-content: space-between
      padding: 10px 16px 8px 16px
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.2)
      .sv-closeFilter
        cursor: pointer
        display: none
        transform: rotate(90deg)
        transition: .3s cubic-bezier(.25,.8,.5,1)
        transition-delay: .2s
      .sv-filterClear
        span
          display: inline-block
          cursor: pointer
          font-size: 16px
          font-weight: normal
          font-style: normal
          font-stretch: normal
          line-height: normal
          letter-spacing: 0
          color: #fd9727

    .sv-filterBody
      padding: 16px 16px 35px 16px
      .sv-filterRangeHolder
        .default
          &:not(:last-child)
            margin-bottom: 24px
          & > *
            font-size: 16px
            font-weight: normal
            font-style: normal
            font-stretch: normal
            line-height: normal
            letter-spacing: 0
            color: #000000
      .sv-filterAccordion
        cursor: pointer
        margin-bottom: 16px
        .sv-filterAccordionBody
          transition: .3s ease-out
          overflow: hidden
          max-height: 999px
      .sv-filterRangeHolder
        .default
          .sv-caloriesTitle
            margin-bottom: 8px
            margin-top: 12px
            & > *
              font-size: 16px
              font-weight: normal
              font-style: normal
              font-stretch: normal
              line-height: normal
              letter-spacing: 0
              color: #808080
          .rangeHolderEl
            height: 35px
          .sv-cookingTitle
            margin-bottom: 8px

.sv-filterFilter
  button
    outline: none
    color: #fff
    background-color: #1eaaf1
    border: none
    font-size: 16px
    font-weight: normal
    font-style: normal
    font-stretch: normal
    line-height: normal
    letter-spacing: 0
    text-align: center
    padding: 12px 20px
    border-radius: 4px
    cursor: pointer
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.2)