/* ===== Typography Variables ===== */

$header-line-height:        1.1 !default;
$header-weight:             normal !default;
$header-text-color:         $default-text-color !default;

$header-font-sizes: (
  xs: (
    h1: 52,
    h2: 30,
    h3: 40,
    h4: 30,
    h5: 20,
    h6: 16,
  ),
  sm: (
    h1: 80,
  ),
  md: (
    h1: 104,
    h2: 70,
    h3: 60,
    h4: 50,
    h5: 40,
    h6: 30,
  ),
  lg: (
    h1: 220
  )
) !default;